@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply h-full overflow-hidden;
	@apply text-surface-700;
}

:root [data-theme='wintry'] {
	--theme-rounded-base: 10px;
	--theme-rounded-container: 4px;
}
